.header-about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8%;
    background-image: url("../../assets/rectangle11.png");
    background-size: cover;
    z-index: 5;
    height: 100vh;
    padding-bottom: 5%;    
}


@media screen and (max-width: 768px) {

    .header-about-container {
        flex-direction: column;
    }
}

