.aboutHero
{
    background: url(./group34.png) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.herotxt
{
    text-align: center;
font-family: Helvetica;
font-size: 90.435px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(156deg, #331EFD 0%, #00D7FE 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}