.abouthero {
  background: url(../../assets/group34.png);
  height: 100%;
  background-size: cover;
  padding-bottom: 28%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position-y: -100px ;
  background-repeat: no-repeat;
}

.herotxt {
  text-align: center;
  font-family: Helvetica;
  font-size: 90.435px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(156deg, #331efd 0%, #00d7fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .abouthero {
    background-position-x: center;
    height: 75vh;
    padding-top: 0;
   
  }

    .herotxt {
        font-size: 70px;
        position: relative;
        bottom: 10%;
    }
}

