.parent {
  display: inline-flex;
  align-items: center;
  gap: 21px;
  flex-wrap: wrap;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4%;
}

.wrap
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


h2 {
    color: #263045;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 7%;
}
.matter{
  display: flex;
width: 676px;
color: #263045;
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 8%;
}

.textHighlight {
    background: linear-gradient(139deg, #331EFD 0%, #00D7FE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
@media screen and (max-width: 768px) {
  .right{
    display: none;
  }
  
  .left{
    padding-left: 3%;
  }
  .matter{
    width: 100%;
    padding-left: 3%;
  }
}