.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   bottom: 50px;
   flex-wrap: wrap;
  
}


.parent {
  display: flex;
  padding: 1rem;
  width: 80%;
  height: 360px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  width :60%;
  display: flex;
flex-direction: column;
justify-content: center;
}

.right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.profileBox
{
    width: 322px;
height: 307px;
border-radius: 20px 0px;
background: linear-gradient(180deg, #F3F7FF 0%, #E8EFFF 100%);
display: flex;
position: relative;
bottom: 5%;
transform: scale(92%);
flex-shrink: inherit;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-size: 1.8rem;
text-align: center;
}

.profileCircle
{
    width: 80px;
   height: 80px;
border-radius: 100%;
z-index: 2;
background-color: #263045;
position: relative;
top: 8%;

}

h2{
    color: #263045;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.para
{
    color: #263045;
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.textHighlight
{
    background: var(--gradient, linear-gradient(167deg, #331EFD 0%, #00D7FE 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media screen and (max-width: 768px) {
    h2{
        font-size: 15px;
    }
    .left
    {
        width: 100%;
    }
    .wrapper
    {
        bottom: 10rem;
        margin-bottom: 120%;
    }
    .para{
        display: inline-block;
        width: 90vw;
    }
    

    
  }
  