.header-left_desc-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;    
   
}

.header-left_desc-image {
    display: flex;
    flex-wrap: wrap;
    flex: 0.8;
}

.header-left_desc-text {
    display: flex;
    flex: 1;
    margin-right: 8%;
}

.header-left_desc-bg_ellipse {
    height: 50%;
    position: absolute;
    z-index: -1;
}

.header-left_desc-top_image {
    width: 80%;
    height: auto;
    margin-top: 10%;
}

.header-desc_text-header{
    color: black;
}

.header-title{
color: #263045;
font-size: 40px;
font-family: Helvetica;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
margin-bottom: 5%;
}

.header-other{
    background: linear-gradient(to right, #331EFD, #00D7FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8%;
    background-image: url("../../assets/rectangle11.png");
    background-size: cover;
    z-index: 5;
    height: 100vh;
    padding-bottom: 5%;    
}
.header-desc{
    color: #263045;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
}

.header-button{
display: flex;
width: 274px;
height: 54px;
padding: 14px 30px 13px 29px;
justify-content: center;
align-items: center;
border-radius: 16px;
background: linear-gradient(151deg, #2F35FC 0%, #00D7FE 100%);
box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
font-size: 20px;
font-family: Helvetica;
font-style: normal;
font-weight: 700;
display: flex;
margin:3% 0 7%;
border: none;
text-decoration: none;

}
.header-buttontwo{
display: flex;
width: 274px;
height: 54px;
padding: 14px 30px 13px 29px;
justify-content: center;
align-items: center;
border-radius: 16px;
background: linear-gradient(151deg, #2F35FC 0%, #00D7FE 100%);
box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
font-size: 16px;
font-family: Helvetica;
font-style: normal;
font-weight: 700;
margin:3% 7% 7%;
border: none;
text-decoration: none;

}

.header-caffae-top{ 
width: 117.787px;
height: 38.98px;
background: url("../../assets/caffaeraw-031.png"), -117.893px -154.649px / 299.82% 679.348% no-repeat;
}

.header-logo-top {
width: 59.507px;
height: 53.843px;
background: url("../../assets/caffaeraw-041.png"), 50% / cover no-repeat;
}

.header-logo{
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10% 0 10%;
}

.header-desc_text-container a{
    text-decoration: none;
    padding: 8% 0 20%;
}

@media screen and (max-width: 768px) {
    .header-left_desc-image {
        display: none;
    }

    .header-left_desc-bg_ellipse {
        display: none;
    }

    .header-container {
        flex-direction: column;
    }

    .header-logo {
        padding: 8% 0;
    }

    .header-title {
        color: #263045;
        font-size: 30px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 5%;
    }

    .header-left_desc-text {
        margin-right: 8%;
    }
}

@media screen and (max-width: 992px) {
    .header-left_desc-bg_ellipse {
        display: none;
    }

    .header-left_desc-image {
        display: none;
    }
}
.buttonheader{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .buttonheader{
        flex-direction: column;
    }
    .header-button{
       margin: 0;
    }
    .header-buttontwo{
        margin: 0;
       
    }
    .header-desc_text-container a{
        padding: 3%;
    }
}
