.outerbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: rgb(87, 183, 247);
  padding: 3% 0 3% 0;
  height: 500px;
  border-radius: 10px;
}
